---
import AboutCarousel from "./AboutCarousel.tsx";
---

<div class="">
  <div
    class="bg-black1 flex rounded-3xl max-w-screen-xll px-4 mx-auto items-center justify-between md:px-6 lg:px-8"
  >
    <div class="flex h-28 items-center text-center w-full">
      <h1
        class="text-Blanc text-3xl sm:text-4xl md:text-5xl tracking-widest font-argenExtra uppercase rounded-lg mx-auto"
      >
        About Me
      </h1>
    </div>
  </div>
  <div
    class="bg-black1 flex rounded-3xl max-w-screen-xll mt-4 mx-auto items-center justify-between md:px-6 lg:px-8"
  >
    <div class="text-gray1 font-argenMed text-base sm:text-xl">
      <h3>
        I am a self-motivated and ambitious B.Tech student aspiring to be a
        Software Engineer. Proficient in various programming languages with a
        strong project portfolio. Seeking a challenging role in a dynamic team
        to contribute to organizational success, while continuously learning and
        advancing skills. Dedicated to personal growth and making a positive
        impact in software engineering.
      </h3>
    </div>
    <div>
      <AboutCarousel />
    </div>
  </div>
</div>
./AboutCarousel.tsx
