---
import { Image } from "astro:assets";
import profilePic from "../../../public/images/Profile.jpg";
import HomeSection from "./HomeSection";
---

<div class="flex max-w-screen-xll mx-auto items-center justify-between">
  <div class="flex flex-col gap-4 lg:flex-row">
    <HomeSection />
    <div class="lg:w-1/2 rounded-xl">
      <Image
        src={profilePic}
        alt="Tushar's profile Pic"
        class="rounded-2xl lg:h-full"
      />
    </div>
  </div>
</div>
