---
import { Image } from "astro:assets";
import profilePic from "../../../public/images/Profile.jpg";
---

<div class="flex max-w-screen-xll mx-auto items-center justify-between">
  <div class="flex flex-col gap-4 md:flex-row">
    <div class="flex flex-col md:w-2/3 gap-4 outer-div">
      <div
        class="h-5/6 xxsm:h-full bg-gray1 rounded-2xl outer-div relative overflow-hidden"
      >
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="flex flex-col p-7 sm:p-10 mt-10 gap-14">
          <h1
            class="text-black1 font-argenBold text-4xl sm:text-5xl md:text-7xl"
          >
            I’m Tushar Bhowal A- <span class="text-principal"
              >Full Stack Web Developer</span
            >
          </h1>
          <h2 class="text-black1 font-argenMed text-base sm:text-xl pr-24">
            I care a lot about using my development skills for positive impact,
            and enjoy creating user-centric, delightful, and human experiences.
          </h2>
        </div>
        <div
          class="flex button-container flex-row p-5 xxsm:p-7 sm:p-10 mt-10 gap-7 sm:gap-10"
        >
          <a
            href="#_"
            class="relative inline-flex items-center justify-start px-7 py-3 overflow-hidden font-medium transition-all bg-black2 rounded-full hover:bg-Blanc group"
          >
            <span
              class="absolute inset-0 border-0 group-hover:border-[25px] ease-linear duration-100 transition-all border-Blanc rounded-full"
            ></span>
            <span
              class="relative w-full text-left download text-sm sm:text-xl transition-colors duration-200 ease-in-out text-Blanc group-hover:text-black2"
              >Download CV</span
            >
          </a>
          <div class="flex social-icons flex-row gap-5 justify-center">
            <i
              class="fa-brands fa-facebook text-xl sm:text-4xl bg-Blanc rounded-full px-3 py-2 sm:px-3 sm:py-2 text-black2"
            ></i>
            <i
              class="fa-brands fa-square-instagram text-xl sm:text-4xl bg-Blanc rounded-full px-3 py-2 sm:px-3 sm:py-2 text-black2"
            ></i>
            <i
              class="fa-brands fa-linkedin text-xl sm:text-4xl bg-Blanc rounded-full px-3 py-2 sm:px-3 sm:py-2 text-black2"
            ></i>
            <i
              class="fa-brands fa-github text-xl sm:text-4xl bg-Blanc rounded-full px-3 py-2 sm:px-3 sm:py-2 text-black2"
            ></i>
          </div>
        </div>
      </div>
    </div>
    <div class="md:w-1/2 rounded-xl">
      <Image
        src={profilePic}
        alt="Tushar's profile Pic"
        class="rounded-2xl h-5/6 xxsm:h-full"
      />
    </div>
  </div>
</div>

<style>
  /* Your existing styles */

  .circle1,
  .circle2 {
    position: absolute;
    border-radius: 100%;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    /* Initial glow effect */
  }

  .circle1 {
    background: #7e5bef;
    box-shadow: 0 0 20px 10px #7e5bef;
    height: 250px;
    width: 250px;
    bottom: -150px;
    left: -80px;
    animation-name: glowAndFade1;
  }

  .circle2 {
    background: #eb8817;
    box-shadow: 0 0 20px 10px #eb8817;
    height: 250px;
    width: 250px;
    top: -80px;
    right: -150px;
    z-index: 1;
    animation-name: glowAndFade2;
  }

  .outer-div:hover .circle2 {
    animation-name: moveUpDown, glowAndFade2;
  }
  .outer-div:hover .circle1 {
    animation-name: glowAndFade1, moveRightLeft;
  }

  @keyframes moveRightLeft {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(540px);
    }
  }

  @keyframes moveUpDown {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(540px);
    }
  }
  @keyframes glowAndFade1 {
    0%,
    100% {
      opacity: 0.6;
      box-shadow: 0 0 20px 10px #7e5bef; /* Initial glow effect */
    }
    25%,
    75% {
      opacity:;
      box-shadow: 0 0 70px 70px #7e5bef; /* Larger glow effect on the sides */
    }
    0%,
    100% {
      animation-timing-function: linear; /* Adjust as needed */
    }
    25%,
    75% {
      animation-timing-function: ease-in-out; /* Adjust as needed */
    }
  }

  @keyframes glowAndFade2 {
    0%,
    100% {
      opacity: 0.6;
      box-shadow: 0 0 20px 10px #eb8817; /* Initial glow effect */
    }
    25%,
    75% {
      opacity:;
      box-shadow: 0 0 70px 70px #eb8817; /* Larger glow effect on the sides */
    }
    0%,
    100% {
      animation-timing-function: linear; /* Adjust as needed */
    }
    25%,
    75% {
      animation-timing-function: ease-in-out; /* Adjust as needed */
    }
  }
  .social-icons i {
    font-size: 8xl;
    color: #your-desired-color; /* Replace with your desired color */
    transition: transform 0.3s ease-in-out;
  }

  .social-icons i:hover {
    transform: scale(1.2); /* Adjust the scale factor as needed */
  }

  @media only screen and (max-width: 495px) {
    .button-container {
      flex-direction: column;
    }
    .download {
      text-align: center;
    }
  }
</style>
