---
import { Image } from "astro:assets";
import profilePic from "../../../public/images/Profile.jpg";
---

<!-- <div class="flex max-w-screen-xll mx-auto items-center justify-between">
  <div class="flex flex-col gap-4 md:flex-row">
    <div class="flex flex-col md:w-2/3 gap-4">
      <div class="h-4/5 bg-black1 rounded-2xl">
        <div class="flex flex-col p-7 sm:p-10 mt-10 gap-14">
          <h1 class="text-Blanc font-argenBold text-4xl sm:text-5xl md:text-7xl">
            I’m Tushar Bhowal - <span class="text-principal">Web Developer</span
            >
          </h1>
          <h2 class="text-gray1 font-argenMed text-base sm:text-xl">
            I care a lot about using my development skills for positive impact.
            and enjoy creating user-centric, delightful, and human experiences.
          </h2>
        </div>
        <div class="flex flex-row p-5 xxsm:p-7 sm:p-10 mt-10 gap-7 sm:gap-10">
          <a
            href="#_"
            class="relative inline-flex items-center justify-start px-7 py-3 overflow-hidden font-medium transition-all bg-principal rounded-full hover:bg-Blanc group"
          >
            <span
              class="absolute inset-0 border-0 group-hover:border-[25px] ease-linear duration-100 transition-all border-Blanc rounded-full"
            ></span>
            <span
              class="relative w-full text-left text-sm sm:text-xl transition-colors duration-200 ease-in-out group-hover:text-principal"
              >Download <span class="download ">CV </span></span
            >
          </a>
          <a
            href="#_"
            class="relative inline-flex items-center justify-center p-4 sm:px-12 py-3 overflow-hidden font-medium text-Blanc transition duration-300 ease-out border-2 border-principal rounded-full shadow-md group"
          >
            <span
              class="absolute inset-0 flex items-center justify-center w-full h-full text-Blanc duration-300 -translate-x-full bg-principal group-hover:translate-x-0 ease"
            >
              <svg
                class="w-6 h-6"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg
              >
            </span>
            <span
              class="absolute flex items-center justify-center w-full h-full text-Blanc text-sm sm:text-xl transition-all duration-300 transform group-hover:translate-x-full ease"
              ><span class="download ">Let's </span>Chat</span
            >
            <span class="relative invisible">Let's Chat</span>
          </a>
        </div>
      </div>
      <div class="bg-black1 rounded-2xl social-icons">
        <div class="flex flex-row gap-10 justify-center p-6">
          <i class="fa-brands fa-facebook text-3xl xxsm:text-5xl sm:text-8xl text-principal"></i>
          <i class="fa-brands fa-square-instagram text-3xl xxsm:text-5xl sm:text-8xl text-principal"></i>
          <i class="fa-brands fa-linkedin text-3xl xxsm:text-5xl sm:text-8xl text-principal"></i>
          <i class="fa-brands fa-github text-3xl xxsm:text-5xl sm:text-8xl text-principal"></i>
        </div>
      </div>
    </div>
    <div class="md:w-1/2 rounded-xl">
      <Image
        src={profilePic}
        alt="Tushar's profile Pic"
        class="rounded-2xl h-full"
      />
    </div>
  </div>
</div> -->

<div class="background">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>

</div>




<style>
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #beb9c5;
    overflow: hidden;
}

.background span {
    width: 29vmin;
    height: 29vmin;
    border-radius: 29vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #ecbb51;
    top: 95%;
    left: 24%;
    animation-duration: 13s;
    animation-delay: -14s;
    transform-origin: 22vw -24vh;
    box-shadow: 58vmin 0 8.163580788258113vmin currentColor;
}
.background span:nth-child(1) {
    color: #ecbb51;
    top: 81%;
    left: 27%;
    animation-duration: 42s;
    animation-delay: -26s;
    transform-origin: -1vw -10vh;
    box-shadow: 58vmin 0 7.716739332157978vmin currentColor;
}
.background span:nth-child(2) {
    color: #ecbb51;
    top: 26%;
    left: 34%;
    animation-duration: 54s;
    animation-delay: -6s;
    transform-origin: 7vw -18vh;
    box-shadow: 58vmin 0 7.741065382748256vmin currentColor;
}
.background span:nth-child(3) {
    color: #ecbb51;
    top: 21%;
    left: 31%;
    animation-duration: 30s;
    animation-delay: -12s;
    transform-origin: 15vw -4vh;
    box-shadow: 58vmin 0 8.056477831197785vmin currentColor;
}
.background span:nth-child(4) {
    color: #8859d9;
    top: 58%;
    left: 84%;
    animation-duration: 46s;
    animation-delay: -45s;
    transform-origin: 1vw 5vh;
    box-shadow: 58vmin 0 7.434087423513962vmin currentColor;
}
.background span:nth-child(5) {
    color: #e34a4a;
    top: 28%;
    left: 45%;
    animation-duration: 54s;
    animation-delay: -31s;
    transform-origin: -2vw 6vh;
    box-shadow: -58vmin 0 7.779624393219194vmin currentColor;
}
.background span:nth-child(6) {
    color: #e34a4a;
    top: 92%;
    left: 12%;
    animation-duration: 31s;
    animation-delay: -27s;
    transform-origin: 8vw 11vh;
    box-shadow: 58vmin 0 7.459725159827212vmin currentColor;
}
.background span:nth-child(7) {
    color: #e34a4a;
    top: 15%;
    left: 18%;
    animation-duration: 29s;
    animation-delay: -1s;
    transform-origin: -2vw -19vh;
    box-shadow: -58vmin 0 7.922198623692331vmin currentColor;
}
.background span:nth-child(8) {
    color: #8859d9;
    top: 36%;
    left: 81%;
    animation-duration: 24s;
    animation-delay: -16s;
    transform-origin: -3vw 10vh;
    box-shadow: -58vmin 0 7.382015095289545vmin currentColor;
}
.background span:nth-child(9) {
    color: #e34a4a;
    top: 2%;
    left: 68%;
    animation-duration: 42s;
    animation-delay: -32s;
    transform-origin: 3vw 10vh;
    box-shadow: -58vmin 0 7.613277252853766vmin currentColor;
}

</style>


<!-- <style>
  .social-icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    padding: 6px;
  }

  .social-icons i {
    font-size: 8xl;
    color: #your-desired-color; /* Replace with your desired color */
    transition: transform 0.3s ease-in-out;
  }

  .social-icons i:hover {
    transform: scale(1.2); /* Adjust the scale factor as needed */
  }
  @media only screen and (min-width: 200px) and (max-width: 365px) {
    .download {
      display: none;
    }
  }


  @media only screen and (min-width: 100px) and (max-width: 390px) {
    .download {
      display: none;
    }
  }
</style> -->
