---
// Data import
import NavItems from "./NavItems";
import NavClick from "./NavClick";

// Data initialization
---

<div class="w-full">
  <div
    class="bg-black1 flex rounded-3xl max-w-screen-xll px-4 mx-auto items-center justify-between md:flex-row md:px-6 lg:px-8"
  >
    <div class="flex flex-row h-28 items-center justify-between p-4">
      <a
        href="#"
        class="text-Blanc text-2xl sm:text-4xl md:text-5xl tracking-widest font-argenExtra uppercase rounded-lg"
      >
        Tusha<span class="text-principal">r</span>
      </a>
    </div>

    {/* NavClick is rendered only when the client width is less than 1024px */}
    <!-- <div class="lg:hidden">
      <NavClick client:media="(max-width: 1023px)" />
    </div> -->

    {
      /* NavItems is rendered only when the client width is greater than or equal to 1024px */
    }
    <div class="hidden lg:block">
      <NavItems client:media="(min-width: 1024px)" />
    </div>
  </div>
</div>
