---
import NavClick from "./NavClickPart/NavClick";
import NavItems from "./NavItem/NavItems";



// Data import

// Data initialization
---

<div class="w-full">
  <div
    class="flex rounded-3xl max-w-screen-xll mx-auto items-center justify-between md:flex-row"
  >
    <div class="flex flex-row h-28 items-center">
      <a
        href="#"
        class="text-black1 text-Effect text-2xl sm:text-4xl md:text-5xl tracking-widest font-argenExtra uppercase rounded-lg"
      >
        Tusha<span class="text-principal">r</span>
      </a>
    </div>

    {/* NavClick is rendered only when the client width is less than 1024px */}
    <div class="lg:hidden">
      <NavClick client:media="(max-width: 1023px)" />
    </div>

    {
      /* NavItems is rendered only when the client width is greater than or equal to 1024px */
    }
    <div class="hidden lg:block">
      <NavItems client:media="(min-width: 1024px)" />
    </div>
  </div>
</div>

<style>
  .text-Effect {
    transition: font-size 0.5s ease; /* Adjust the duration and easing function as needed */
  }

  .text-Effect:hover {
    font-size: 3.1rem; /* Adjust the size as needed */
  }
</style>
