---

---

<div
  class="flex rounded-3xl max-w-screen p-4 xsm:p-6 md:p-8 mx-auto items-center justify-between"
>
  <div class=" w-full">
    <h1
      class="text-white1 text-6xl xxsm:text-7xl xsm:text-8xl sm:text-9xl tracking-widest font-argenExtra uppercase rounded-lg mx-auto"
    >
      About
    </h1>
  </div>
</div>

<style>
  h1 {
    text-shadow:
      5px 0 #ffa97a,
      -5px 0 #ffa97a,
      0 5px #ffa97a,
      0 -5px #ffa97a,
      4px 4px #ffa97a,
      -4px -4px #ffa97a,
      4px -4px #ffa97a,
      -4px 4px #ffa97a;
  }
</style>
