---
// library imports
import { Image } from "astro:assets";

// component imports
import ProfileLogo from "../../public/images/Tushar.png";
//Data import
import navbarItem from "../data/navData";
//data initialization
---

<div class="min-h-screen">
  <div class="antialiased">
    <div class="w-full">
      <div
        class="bg-black1 flex flex-col rounded-3xl max-w-screen-xll px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8"
      >
        <div class="flex flex-row h-28 items-center justify-between p-4">
          <a
            href="#"
            class="text-Blanc text-4xl md:text-5xl tracking-widest font-argenExtra uppercase rounded-lg"
            >Tusha<span class="text-principal">r</span></a
          >
        </div>
        <nav
          class="flex-col flex-grow hidden pb-4 md:pb-0 md:flex md:justify-end md:flex-row"
        >
          {
            Object.values(navbarItem).map((item) => (
              <a
                class="text-Blanc px-4 py-2 mt-2 text-xl font-argenMed rounded-lg md:mt-0 md:ml-4 "
                href={item.link}
              >
                {item.label}
              </a>
            ))
          }
        </nav>
      </div>
    </div>
  </div>
</div>
