---
// library imports
import { Image } from "astro:assets";

// component imports
import ProfileLogo from "../../public/images/Tushar.png";
---

<nav>
  <div>
    <div class="">
      <Image src={ProfileLogo} alt=" logo of Profile" width="48" height="46" />
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</nav>
