---
//component import
import MainHead from "./MainHead.astro";
import Navbar from "../components/Navbar/Navbar.astro";
import Home from "../components/Home/Home.astro";
const { title = "Tushar Bhowal" } = Astro.props;
//Data import

//navber variables

//Stytle css
import "../styles/global.css";
---

<html lang="en">
  <MainHead {title} />
  <body>
    <div class="px-4">
      <Navbar />
    </div>
    <div class="p-4">
      <Home/>
    </div>
   
    <main>
      <slot/>
    </main>
  </body>
</html>
