---
//component import
import MainHead from "./MainHead.astro";
import Navbar from "../components/Navbar.astro";
const { title = "Tushar Bhowal" } = Astro.props;
//Data import
import {NavbarItem} from "../data/navData"
//navber variables

---

<html lang="en">
  <MainHead {title} />
  <body>
    <Navbar />
    <main>
      <slot/>
    </main>
  </body>
</html>
